nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: red;
}

section {
    display: flex;
    justify-content: center;
}

article {
    border: 1px, dotted, black; 
}

article img {
    height: 400px;
}